@page "/note"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using System.IO
@using System.Text
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Text.Json;

@using AntDesign
@using AntDesign.TableModels

@using PermafnotesDomain.Models
@using PermafnotesDomain.Services

@using permafnotes.Components

@attribute [Authorize]

@inject NoteService NoteService



<div class="note_form">
    <Editor NoteFormModel="@_noteFormModel" />
</div>


<div class="import_export">
    <Checkbox @bind-Checked="_needToDisplayImportExport">Import/Export</Checkbox>
    @if(_needToDisplayImportExport)
    {
        <Space>
            <SpaceItem>
                <InputFile OnChange="@ChooseFiles" multiple />
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="Import" Danger>Import</Button>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="Export">Export</Button>
            </SpaceItem>
        </Space>
    }
</div>

<br />

<div class="list_action">
    <Title>Note list</Title>
    <Space>
        <SpaceItem>
            <Button Type="@ButtonType.Primary" OnClick="Refresh">Reflesh</Button>
        </SpaceItem>
        @if(Selected)
        {
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="ClearListSelection">Clear</Button>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="StartEdit">StartEdit</Button>
            </SpaceItem>

        }
    </Space>
</div>

<br />

<Table @ref="_list" TItem="NoteListModel" DataSource="@NoteRecords" Size="TableSize.Middle" @bind-SelectedRows="_selectedRows" Style="width:100%" >
    <Selection Key="@context.Created.ToString()" Type="radio" Width="2%" />
    <Column @bind-Field="context.Title"  TData="string" Sortable Filterable Width="15%" />
    <Column Title="Source" TData="string" Sortable Filterable Width="30%" >
        @* TODO: Markdown rendaring *@
        @((MarkupString)context.Source.Replace("\n", "<br />"))
    </Column>
    <Column Title="Memo" TData="string" Sortable Filterable Width="30%" >
        @* TODO: Markdown rendaring *@
        @((MarkupString)context.Memo.Replace("\n", "<br />"))
    </Column>
    <Column Title="Tags" TData="string" Sortable Filterable Width="10%">
        @foreach (var tag in context.SplitTags())
        {
            <Tag Color="green">@(string.IsNullOrEmpty(tag.Name) ? string.Empty : tag.Name)</Tag>
        }
    </Column>
    <Column Title="Reference"            TData="string"   Sortable Filterable Width="5%" >
        @if (context.Reference.StartsWith("http://") || context.Reference.StartsWith("https://"))
        {
            <a href="@context.Reference">@context.Reference</a>
        }
        else
        {
            @context.Reference
        }
    </Column>
    <Column @bind-Field="context.Created" TData="DateTime" Sortable Filterable Width="8%" />
</Table>

@code {
    [Inject]
    private ILogger<Note> logger { get; set; }
    public IEnumerable<NoteListModel> NoteRecords { get; set; } = new List<NoteListModel>();
    private bool Selected
    {
        get
        {
            return (_selectedRows.Count() == 1);
        }
    }

    private NoteFormModel _noteFormModel = new();

    private bool _needToDisplayImportExport = false;
    private IEnumerable<IBrowserFile> _choosenFiles = new List<IBrowserFile>();

    ITable? _list;
    private List<string> ToolbarItems = new List<string>() { "Search" };
    private IEnumerable<NoteListModel> _selectedRows = new List<NoteListModel>();
    private Timer _refleshers;

    protected override async Task OnInitializedAsync()
    {
        await this.RefreshList(onlyCache: true);

        _refleshers = new Timer(_ =>
        {
            _ = InvokeAsync(async () =>
            {
                await this.RefreshList();
                StateHasChanged();
            });
        }, null, TimeSpan.FromSeconds(10), TimeSpan.FromSeconds(10));

        await base.OnInitializedAsync();
    }

    private void ChooseFiles(InputFileChangeEventArgs e)
        => _choosenFiles = e.GetMultipleFiles();

    private async Task Export()
        => await NoteService.Export(NoteRecords);

    private async Task Import()
    {
        foreach (var file in _choosenFiles)
        {
            var buffers = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffers);
            await NoteService.Import(buffers);
        }

        await this.RefreshList();
    }

    private async Task Refresh()
        => await this.RefreshList();

    private async Task RefreshList(bool onlyCache = false)
    {
        NoteRecords = await NoteService.FetchAll(onlyCache);
    }

    private void StartEdit()
    {
        if (_selectedRows.Count() <= 0) 
        {
            return;
        }
        _noteFormModel = _selectedRows.First().ToNoteFormModel();
        ClearListSelection();
    }

    private void ClearListSelection()
    {
        if (_list is not null)
            _list.SetSelection(null);
    }

    private void OnRowClick(RowData<NoteListModel> row)
    {
        logger.LogDebug($"current row: ${row.Data.ToString()}");
    }
}

