@page "/note"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using System.IO
@using System.Text
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Text.Json;

@using AntDesign
@using AntDesign.TableModels

@using PermafnotesDomain.Models
@using PermafnotesDomain.Services

@using permafnotes.Components

@attribute [Authorize]

@inject NoteService NoteService

<Space Direction="DirectionVHType.Vertical" >
    <SpaceItem>
        <Title>Note</Title>
    </SpaceItem>

    <SpaceItem>
        <Editor NoteFormModel="@_noteFormModel" />
    </SpaceItem>

    <SpaceItem>
        <Space>
            <SpaceItem Style="min-width:200px;">
                <Search Placeholder="input filter text" EnterButton="true" @bind-Value="@SearchKey" OnSearch="OnSearch" />
            </SpaceItem>
            <SpaceItem>
                <Button OnClick="ClearSearch">Clear filter</Button>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="Refresh">Reflesh</Button>
            </SpaceItem>
            @if (Selected)
            {
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" OnClick="ClearListSelection">Clear selection</Button>
                </SpaceItem>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" OnClick="StartEdit">StartEdit</Button>
                </SpaceItem>

            }
            <SpaceItem>
                <Checkbox @bind-Checked="_needToDisplayImportExport">Import/Export</Checkbox>
            </SpaceItem>
            @if (_needToDisplayImportExport)
            {
                <SpaceItem>
                    <InputFile OnChange="@ChooseFiles" multiple />
                </SpaceItem>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" OnClick="Import" Danger>Import</Button>
             </SpaceItem>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" OnClick="Export">Export</Button>
                </SpaceItem>
            }
        </Space>
    </SpaceItem>
    <SpaceItem>
        @foreach (var rec in NoteRecords)
        {
            <Card Title="@rec.Title">
                <Extra>
                    <Space>
                        <SpaceItem>
                            @if (rec.HasUrlReference())
                            {
                                <a href="@rec.Reference" target="_blank">link</a>
                            }
                            else if (int.TryParse(rec.Reference, out int result))
                            {
                                @("p." + @rec.Reference)
                            }
                            else
                            {
                                @rec.Reference
                            }
                         </SpaceItem>
                         <SpaceItem>
                             <Button Type="@ButtonType.Primary" Danger OnClick="(e => _noteFormModel = rec.ToNoteFormModel())">Edit</Button>
                         </SpaceItem>
                    </Space>
                </Extra>
                <Body>
                    <Space Direction="DirectionVHType.Vertical">
                        <SpaceItem>
                            @rec.Created

                            @foreach (var tag in rec.SplitTags())
                            {
                                string color = SelectTagColor(tag);
                                <Tag Color="@color">@(string.IsNullOrEmpty(tag.Name) ? string.Empty : tag.Name)</Tag>
                            }
                        </SpaceItem>
                        <SpaceItem>
                            Source:
                        </SpaceItem>
                        <SpaceItem>
                            @((MarkupString)Markdig.Markdown.ToHtml(rec.Source))
                        </SpaceItem>
                        <SpaceItem>
                            Memo:
                        </SpaceItem>
                        <SpaceItem>
                            @((MarkupString)Markdig.Markdown.ToHtml(rec.Memo))
                        </SpaceItem>
                    </Space>
                </Body>
            </Card>
        }
    </SpaceItem>
</Space>

@code {
    [Inject]
    private ILogger<Note> logger { get; set; }
    public IEnumerable<NoteListModel> NoteRecords { get; set; } = new List<NoteListModel>();
    public List<NoteTagModel> Tags { get; set; } = new List<NoteTagModel>();
    private bool Selected
    {
        get
        {
            return (_selectedRows.Count() == 1);
        }
    }

    private NoteFormModel _noteFormModel = new();

    private bool _needToDisplayImportExport = false;
    private IEnumerable<IBrowserFile> _choosenFiles = new List<IBrowserFile>();

    private string SearchKey { get; set; } = string.Empty;

    ITable? _list;
    private List<string> ToolbarItems = new List<string>() { "Search" };
    private IEnumerable<NoteListModel> _selectedRows = new List<NoteListModel>();
    private Timer _refleshers;

    protected override async Task OnInitializedAsync()
    {
        await this.RefreshList(onlyCache: true);

        _refleshers = new Timer(_ =>
        {
            _ = InvokeAsync(async () =>
            {
                await this.RefreshList();
                StateHasChanged();
            });
        }, null, TimeSpan.FromSeconds(10), TimeSpan.FromSeconds(10));

        await base.OnInitializedAsync();
    }

    private void ChooseFiles(InputFileChangeEventArgs e)
        => _choosenFiles = e.GetMultipleFiles();

    private async Task Export()
        => await NoteService.Export(NoteRecords);

    private async Task Import()
    {
        foreach (var file in _choosenFiles)
        {
            var buffers = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffers);
            await NoteService.Import(buffers);
        }

        await this.RefreshList();
    }

    private void OnSearch()
        => NoteRecords = this.Filter(this.SearchKey);

    private IEnumerable<NoteListModel> Filter(string key)
    => NoteRecords.Where(x =>
        x.Title.Contains(key)
        || x.Reference.Contains(key)
        || x.Tags.Contains(key)
        || x.Source.Contains(key)
        || x.Memo.Contains(key)
    );

    private async Task Refresh()
        => await this.RefreshList();

    private async Task ClearSearch()
    {
        SearchKey = string.Empty;
        await this.RefreshList();
    }

    private async Task RefreshList(bool onlyCache = false)
    {
        NoteRecords = await NoteService.FetchAll(onlyCache);
        await foreach (var t in NoteService.SelectAllTags())
        {
            if (Tags.Any(x => x.Name == t.Name))
                continue;
            Tags.Add(t);
        }

        if (string.IsNullOrEmpty(SearchKey))
            return;

        NoteRecords = this.Filter(this.SearchKey);
    }

    private void StartEdit()
    {
        if (_selectedRows.Count() <= 0) 
        {
            return;
        }
        _noteFormModel = _selectedRows.First().ToNoteFormModel();
        ClearListSelection();
    }

    private void ClearListSelection()
    {
        if (_list is not null)
            _list.SetSelection(null);
    }

    private void OnRowClick(RowData<NoteListModel> row)
    {
        logger.LogDebug($"current row: ${row.Data.ToString()}");
    }

    private string SelectTagColor(NoteTagModel tag)
    {
        string name = string.IsNullOrEmpty(tag.Name) ? string.Empty : tag.Name;
        int index = Tags.FindIndex(x => x.Name == name);
        int devider = 12;
        if (index == -1)
        {
            // not found
            return "gray";
        }
        else if (index % devider == 0)
        {
            return "green";
        }
        else if (index % devider == 1)
        {
            return "geekblue";
        }
        else if (index % devider == 2)
        {
            return "volcano";
        }
        else if (index % devider == 3)
        {
            return "red";
        }
        else if (index % devider == 4)
        {
            return "orange";
        }
        else if (index % devider == 5)
        {
            return "gold";
        }
        else if (index % devider == 6)
        {
            return "yellow";
        }
        else if (index % devider == 7)
        {
            return "lime";
        }
        else if (index % devider == 8)
        {
            return "cyan";
        }
        else if (index % devider == 9)
        {
            return "blue";
        }
        else if (index % devider == 10)
        {
            return "purple";
        }
        else if (index % devider == 11)
        {
            return "magenta";
        }
        else
        {
            return "gray";
        }
    }
}
